# unity project
*.userprefs
OpenGL/UnityCg/Basics/MinimalShader/Library
OpenGL/UnityCg/Basics/MinimalShader/Temp
OpenGL/UnityCg/Basics/RGBCube/Library
OpenGL/UnityCg/Basics/RGBCube/Temp

# xcode project
xcuserdata
*xccheckout
*xcworkspacedata
*xcshareddata

# jetbrain proj
.idea

# custom proj
.build
build-Debug
build-Release