# unity project
*.userprefs
OpenGL/UnityCg/Basics/MinimalShader/Library/
OpenGL/UnityCg/Basics/MinimalShader/Temp/
OpenGL/UnityCg/Basics/RGBCube/Library/
OpenGL/UnityCg/Basics/RGBCube/Temp/
OpenGL/UnityCg/Basics/DebuggingOfShaders/Library/
OpenGL/UnityCg/Basics/DebuggingOfShaders/Temp/

# xcode project
xcuserdata
