# unity project
*.userprefs
OpenGL/UnityCg/Basics/MinimalShader/Library
OpenGL/UnityCg/Basics/MinimalShader/Temp
OpenGL/UnityCg/Basics/RGBCube/Library
OpenGL/UnityCg/Basics/RGBCube/Temp

# xcode project
xcuserdata
*xccheckout
*xcworkspacedata
*xcshareddata

# jetbrain proj
.idea

# custom proj
.build
build-Debug
build-Release
*.o
libglm.a
.qmake.stash
*.pro.user
BookReading/ProgrammingInCSharp/TestCSharp/TestCSharp/bin
BookReading/ProgrammingInCSharp/TestCSharp/TestCSharp/obj
BookReading/ProgrammingInCSharp/TestCSharp/TestCSharp/Properties
TestCSharp.sln
